<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>github.tonyscelfo.com by scelfo</title>

    <link rel="stylesheet" href="/ss/styles.css">
    <link rel="stylesheet" href="/ss/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>github.tonyscelfo.com</h1>
        <ul>
          {% for post in site.posts limit: 5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <p></p>
        <p class="view"><a href="https://github.com/scelfo">View My GitHub Profile</a></p>
      </header>
