<h3>{{ site.description }}</h3>
<dl class="dl-horizontal">
  {% for post in site.posts %}
    <dt>{{ post.date | date_to_string }}</dt>
    <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
  {% endfor %}
</dl>
<p>
  View My
  <a rel="me" href="{{ site.url_gplus }}">Google+</a>
  |
  <a rel="me" href="{{ site.url_github }}">GitHub</a>
  |
  <a rel="me" href="{{ site.url_facebook }}">Facebook</a>
  |
  <a rel="me" href="{{ site.url_linkedin }}">LinkedIn</a>
  Profile
</p>
<p>
  Made in the USA ![USA](img/usflag.png)
</p>
